<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" tempDirectory="C:\Inetpub\vhosts\inuni.xyz\tmp" />
    <authentication mode="None" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="AllowAll" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>